.side-bar {
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
    z-index: 1055;
    transition: 0.3s;
}

.close-icon {
    font-size: 2em;
    color: #666;
    cursor: pointer;
}
