.side-bar {
    @apply h-full absolute top-0 left-0;
    width: 200px;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
    z-index: 1055;
    transition: 0.3s;
}

.close-icon {
    @apply cursor-pointer;
    font-size: 2em;
    color: #666;
}
